:root {
  --font-famaly-main: 'Roboto', "Calibri", sans-serif;

  --font-size-xxxs: 8px;
  --font-line-xxxs: 12px;
  --font-xxxs: var(--font-size-xxxs) / var(--font-line-xxxs) var(--font-famaly-main);

  --font-size-xxs: 10px;
  --font-line-xxs: 14px;
  --font-xxs: var(--font-size-xxs) / var(--font-line-xxs) var(--font-famaly-main);

  --font-size-xs: 12px;
  --font-line-xs: 16px;
  --font-xs: var(--font-size-xs) / var(--font-line-xs) var(--font-famaly-main);

  --font-size-s: 14px;
  --font-line-s: 20px;
  --font-s: var(--font-size-s) / var(--font-line-s) var(--font-famaly-main);

  --font-size-m: 16px;
  --font-line-m: 24px;
  --font-m: var(--font-size-m) / var(--font-line-m) var(--font-famaly-main);

  --font-size-ml: 18px;
  --font-line-ml: 26px;
  --font-ml: var(--font-size-ml) / var(--font-line-ml) var(--font-famaly-main);

  --font-size-l: 20px;
  --font-line-l: 32px;
  --font-l: var(--font-size-l) / var(--font-line-l) var(--font-famaly-main);

  --font-size-xl: 24px;
  --font-line-xl: 36px;
  --font-xl: var(--font-size-xl) / var(--font-line-xl) var(--font-famaly-main);

  --navbar-height: 50px;

  --sidebar-width-collapsed: 80px;
  --sidebar-width: 240px;

  --modal-z-index: 100;

  --overlay-backdrop: rgba(0, 0, 0, 0.5);
}