.app_light_theme {
  --bg-color: #b6b6b6;
  --inverted-bg-color: #006633;

  --primary-color: #000;
  --secondary-color: #86d5b3;

  --text-color: #000;

  --link-color: #006633;

}


.primary-0 {
  color: #009966
}

/* Основной Цвет */
.primary-1 {
  color: #336666
}

.primary-2 {
  color: #006633
}

.primary-3 {
  color: #33cc99
}

.primary-4 {
  color: #66cc99
}

.secondary-a-0 {
  color: #006666
}

/* Вторичный Цвет A */
.secondary-a-1 {
  color: #333366
}

.secondary-a-2 {
  color: #003366
}

.secondary-a-3 {
  color: #3399cc
}

.secondary-a-4 {
  color: #6699cc
}

.secondary-b-0 {
  color: #009933
}

/* Вторичный Цвет B */
.secondary-b-1 {
  color: #336633
}

.secondary-b-2 {
  color: #006600
}

.secondary-b-3 {
  color: #33cc66
}

.secondary-b-4 {
  color: #66cc66
}